[Desktop Entry]
Name=Package Installer
Name[ca]=Package Installer
Name[cs]=Instalátor softvéru
Name[de]=Paket-Installer
Name[el]=Εγκατάσταση πακέτων
Name[es]=Instalador de Paquetes
Name[fr]=Installateur de paquets
Name[it]=Installa Meta-pacchetti
Name[ja]=パッケージインストーラー
Name[lt]=Paketų diegimo programa
Name[nl]=pakket installeerder
Name[pt]=Instalador de Pacotes
Name[ro]=Instalator Programe
Name[ru]=Установщик пакетов
Name[sk]=MX Inštalátor programov
Name[sv]=Paket-installerare
Name[tr]=Paket Yükleyici
Comment=Simple package installer
Comment[ca]=Instal·lador senzill de paquets
Comment[cs]=Instaluje programy
Comment[de]=einfache Installation von Paketen
Comment[el]=Απλή εγκατάσταση πακέτων
Comment[es]=Instalador de paquetes simple
Comment[fr]=Installateur simple pour paquets supplémentaires
Comment[it]=Installazione semplice di Meta-pacchetti
Comment[ja]=シンプルなパッケージインストーラー
Comment[lt]=Paprasta paketų diegimo programa
Comment[nl]=Eenvoudige Pakket Installeerder
Comment[pt]=Um instalador de pacotes fácil de usar
Comment[ro]=Instalator de programe adiționale
Comment[ru]=Простая установка пакетов
Comment[sv]=Enkel Paket-installerare
Comment[sk]=Jednoducho inštalovať programy
Comment[tr]=Simple Package Installer
Exec=su-to-root -X -c packageinstaller
Icon=packageinstaller
Categories=System;
Type=Application
