Package: packageinstaller-dbgsym
Source: packageinstaller
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: anticapitalista <anticapitalista@riseup.net>
Installed-Size: 931
Depends: packageinstaller (= 0.1.0)
Section: debug
Priority: extra
Description: Debug symbols for packageinstaller
Build-Ids: eebc2e39c3f1ac7244c7d8e628e22688ab9b9cf9
